
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Lobster', cursive;*/


#navbar_style {
    background-color: #3e3e3e;
    margin: 40px 0 0 0;
    box-sizing: border-box;
    height: 60px;
    padding: 0;
    z-index: 1;
}

#navbar_name {

    font-size: 3.0em;
    color: #337ab7 !important;

}

span {
    color: #fff;
}
.arrowDown {
    height:35px;
    width: 35px;
    padding: 0;
   margin-top: 5px;
}

.resumeSection {
    text-align: center;
    margin: 0 auto;

}
#myNavbar>ul{
    padding: 0;
    margin-left: 70px;
}

#logocircle {
    width:100px;
    height: 100px;
    display: table;
    border-radius: 50%;
    border: 10px solid #337ab7;
    background-color: #fff;
    color: #337ab7;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lobster', cursive;
    font-size: 5em;
    margin-top: -35px;
}

.nav-pills > li > a {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 10px;
}


.icon-bar {
    color: #337ab7 !important;
    border-color: #337ab7 !important;
    background-color: #337ab7 !important;
    margin-top: 10px;
}
.active > a {
    background-color: #337ab7 !important;
}
.unactive{
    background-color: #CFCFCF;
}
.navbar-header {
    margin-bottom: -30px;
}

.jumbotron, .well, .panel-heading{
    background-color: rgba(62, 62, 62, 0.25) !important;
    overflow: auto;
}
.mainSections {
    width: 85%;
    margin: 0px auto 220px auto;
    text-align: center;

}
.mainSections h1 {
    font-family: 'Lobster', cursive;
    color: #337ab7;

}
#aboutMeSec {

}
#abMeL {
    width:45%;
    display:inline-block;
    vertical-align: text-top;
    margin: 0 10px;
}
#abMeR {
    margin: 0 10px;
    width:45%;
    display:inline-block;
    vertical-align: text-top;
}


a > h3 {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none !important;
}
.jumbotron{
    margin-bottom: 220px;
    margin-top: 50px;
}


#contact  p {
    padding-top: 20px;
    font-size: 180%;
    word-wrap: break-word;
}
#contact a {
    font-size: inherit;
    color: inherit;
}
#contact {
    margin-top: 100px;
    overflow: auto;
}
#contact h2{
    font-size: 220%;
}
#contact h1 {
    color: #337ab7;
    font-size: 380%;
    margin-top: 0;
}
#contact img {
    margin-top: 40px;
}
.panel {
    padding: 0 0 30px 0;
    /*overflow: auto;*/

}

#top_button {
    margin-top: 40px;
}

#page_header > h1{
    color: #337ab7;
    font-size: 350%;
    margin: 0;
}
#page_header {
    margin-top: 50px;
    margin-bottom: 0;
}
section p{
    margin: 30px 0 50px 0;
}
section  h1 {
    margin: 0;
    color: #337ab7 !important;
    font-size: 250%;
    padding: 0;
}
#summary {
    width: 80%;
    margin: 40px 10%;
    text-align: center;
}


section {
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 0 !important;
    width: 50%;
    display: inline-block;
}
.sectionContainer {
    width: 100%;
    height: 350px;
    margin-bottom: 200px;
    position: relative;
}
.sectionHdr{
    margin: 10px auto;
    text-align: center;
    padding: 0;
}
.jumbotron h2 {
    color: #337ab7;
}
.carousel-caption h2 {
    color: #ffffff;
    margin-bottom: 0;
}
.carousel-caption {
    background-color: rgba(62, 62, 62, 0.45);
    border-radius: 2.5em;
}
#foolery {
    list-style: none;
}
#skills {
    width: 100%;
    margin: 0 auto;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 50%;*/
}
#education {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}
#skillsImage {
    width: 90%;
    margin: 0 auto;
    vertical-align: top;
    position: absolute;
    top: 55px;
    right: 5%;
}
#educationImage {
    width: 90%;
    margin: 0 auto;
    vertical-align: top;
    position: absolute;
    top: 75px;
    left: 5%;
}
#skills_content {
    display: none;
}
#edu_content {
    display: none;
    list-style: none;
}
#edu_content li:nth-of-type(odd){
    font-size: 1.2em;
    margin-bottom: 10px;
}

#edu_content li:nth-of-type(2){
    margin-left: 67px;
    text-indent: -67px;
    margin-bottom: 20px;
}
#edu_content li:nth-of-type(4){
    margin-left: 88px;
    text-indent: -88px;
    margin-bottom: 20px;
}
.resumeSection{
    padding: 0;
    width: 78%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
.iconCntnr {
    text-align: center;
}
.icons {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
}
#message2u{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
#formContact{
    width: 75%;
    margin: 60px auto;
}
form{
    margin: 40px auto 0 auto;
    display: table;
}
#formContact p     {
    display: table-row;
}
label {
    display: table-cell;
    font-size: 1.4em;
}
input {
    display: table-cell;
    width: 100%;
    padding: 5px;
    margin: 10px
}
textarea {
    width: 100%;
    height: 130px;
    margin-top: 40px;
}
#infoLabel{
    vertical-align: top;
    padding-top: 40px;
}
footer {
    height: 100px;
    text-align: center;
    margin-top: 100px;
}
footer li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
}
#phMsg {
    font-size: .75em;
    color: inherit;
}
#formSubmit {
    margin: 30px 100% 0 100%;
}
#topBtn{
    margin-top: 10px;
}
.sectionImg {
    width: 100%;
}
@media screen and (max-width: 767px) {
    #myNavbar a{
        width: 114px;
        background-color: #3e3e3e;
        color: #337ab7;
        text-align: center;
        z-index: 1;
    }
    #myNavbar a:hover{
        background-color: white;
        color: #337ab7;
    }
    .nav-pills>li{
        float: right;
        clear: both;
    }
    .nav-pills>li.active>a {
        color: white !important;
        background-color: #337ab7 !important;
    }
    .icons {
        width: 70%;
    }
    #skills {
        width: 90%;
        margin: 0 auto;
    }
    #education {
        width: 90%;
        margin: 0 auto;
    }
    #skills_content {
        display: block;
    }
    #edu_content {
        display: block;

    }
    #skillsImage {
        display: none;
    }
    #educationImage{
        display: none;
    }
}

@media screen and (max-width: 571px){
    .arrowDown:nth-of-type(even) {
       visibility: hidden;
    }
}