/*body, html {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

#navbar_name {

    font-size: 3.0em;
    color: #337ab7 !important;

}
.nav-pills > li > a {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 9px;
    margin-left: 9px;
    margin-top: 5px;
}
.active > a {
    background-color: #337ab7 !important;
}

#navbar_style {
    background-color: #3e3e3e;
    margin: 0 auto;
    box-sizing: border-box;
}
.navbar-default {
    border-color: #3e3e3e;
}

.jumbotron {
    background-color: rgba(62, 62, 62, 0.10);
    overflow: auto;
}
a > h3 {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none !important;
}
#contact  p {
    padding-top: 20px;
    font-size: 180%;
}
#contact {
    margin-top: 100px;
}
#contact h2{
    font-size: 220%;
}
#contact h1 {
    color: #337ab7;
    font-size: 380%;
    margin-top: 0px;
}
.panel {
    padding: 0 0 50px 0;
    margin-top: 80px;

}

